/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


header {
}

.navbar {
  margin-bottom: 0px;
}
#map_canvas {
  display:block;
  overflow:auto;
}
html, body {
            height: 100%;
            width: 100%;
            margin: 0px;
        }
.angular-google-map, .angular-google-map-container {
  height: 100%;
  }


.container-fluid {
  padding: 0px;

}

.routes_li{
  padding: 0;
  margin: 1px;
  width: 35px;
  display: inline-block;
}

.routes_dropdown{
 padding-left: 5px;
 padding-right: 5px;
}

.routes_dropdown > li > a{
  padding-left: 25%;
  padding-right: 25%;
}

.routes_dropdown > li > a:hover{
  background-color: orange;
}

.activeRoute{
  background-color: orange;
}

.nav > li {
    cursor: pointer;
}

.logo{
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 25px;
}
.modal-backdrop.in {
  filter: alpha(opacity=0);
  opacity: 0;
}

.orangeFont{
  color: #dc9122;
}

.blueFont{
  color: #4c86fb;
  font-weight: 600;
}

/* Estilos para search box de Google Maps: */
.pac-container {
  z-index: 99999999;
}
/* END Estilos para search box de Google Maps. */

/* Estilos para cargar rutas en lista: */
.routes_li{
  width: 20%;
  display: inline-block;
}

.routes_li_search_1{
  width: 100%;
  display: inline-block; 
}

.routes_li_search_2{
  width: 50%;
  display: inline-block; 
}

.routes_li_search_3{
  width: 33.33%;
  display: inline-block; 
}

.routes_li_search_4{
  width: 25%;
  display: inline-block; 
}
/* Estilos para cargar rutas en lista. */

#twiter {
    padding: 10px;
    padding-right: 15px;
}

#facebook {
    padding: 14px;
    padding-right: 15px;
}


#banner-position {
    position: absolute;
    top: 15%;
    right: 0;
    float: right;
}