<!-- Mapa -->
<ui-gmap-google-map center="map.center" zoom="map.zoom">

  <ui-gmap-marker coords="marker.coords" idkey="'marker.id'">
  </ui-gmap-marker>

  <ui-gmap-polyline clickable="true" ng-repeat="p in map.polylines" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'>

  </ui-gmap-polyline>

  <ui-gmap-marker ng-repeat="marker in markers" click="onRouteClick()" coords="marker.coords" idkey="'marker.id'">
  
    <ui-gmap-window options="windowOptions" closeClick="closeRouteClick()">
            <div>Esta es la ruta {{marker.id}}</div>
        </ui-gmap-window>

    </ui-gmap-marker>
<!-- endMapa -->

</ui-gmap-google-map>

<!-- Menu -->
<div class="bar bar-footer bar-light">
  <div class="tabs tabs-icon-top">

    <a class="button tab-item" ng-click="userLocation(); analytics('NavBar', 'Mobile', 'Localización')">
      <i class="icon glyphicon glyphicon-map-marker"></i>
      Ubicación
    </a>

    <a class="button tab-item">
      <i class="icon ion-android-car"></i>
      Rutas
    </a>

    <a class="button tab-item" ng-click="cleanMap(); analytics('NavBar', 'Mobile', 'Limpiar Mapa')">
      <i class="icon glyphicon glyphicon-remove"></i>
      Limpiar
    </a>

    <a class="button tab-item" ng-click="doComment(); analytics('NavBar', 'Mobile', 'Comentarios')">
      <i class="icon ion-android-contact"></i>
      Contacto
    </a>

  </div>
</div>
<!-- endMenu -->