<div ng-controller="CommentsCtrl">
  <div class="modal-header">
      <h3 class="modal-title">Contacto</h3>
  </div>

  <form class="form-horizontal" ng-submit="sendComment()" name="formComment">
    <div class="modal-body">

      <!-- Name -->
      <div class="form-group" ng-class="{'has-error': formComment.Name.$invalid, 'has-success': formComment.Name.$valid}">
          <label for="Name" class="col-sm-3 control-label">Nombre*</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" name="Name" placeholder="Ingresa tu nombre completo" required autofocus ng-model="comment.Name">
          </div>
      </div>

      <!-- E-mail -->
      <div class="form-group" ng-class="{'has-error': formComment.email.$invalid, 'has-success': formComment.email.$valid}">
          <label for="email" class="col-sm-3 control-label">Email*</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" name="email" placeholder="Ingresa tu correo electrónico" required ng-model="comment.email">
          </div>
      </div>
      
      <!-- Teléfono -->
      <div class="form-group">
          <label for="phone" class="col-sm-3 control-label">Teléfono</label>
          <div class="col-sm-9">
              <input type="tel" class="form-control" name="phone" placeholder="Ingresa tu número de teléfono o celular" ng-model="comment.phone">
          </div>
      </div>

      <!-- Category -->
      <div class="form-group" ng-class="{'has-error': formComment.category.$invalid, 'has-success': formComment.category.$valid}">
          <label for="category" class="col-sm-3 control-label">Categoría*</label>
          <div class="col-sm-9">
              <select class="form-control" name="category" required ng-model="comment.category">
                <option value="">Selecciona una opción</option>
                <option value="Queja">Queja</option>
                <option value="Sugerencia">Sugerencia</option>
                <option value="Otro">Otro</option>
              </select>
          </div>
      </div>

      <!-- Comment -->
      <div class="form-group" ng-class="{'has-error': formComment.comment.$invalid, 'has-success': formComment.comment.$valid}">
          <label for="comment" class="col-sm-3 control-label">Comentario*</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="3" name="comment" placeholder="Ingresa tu comentario" required ng-model="comment.comment"></textarea><br>

            <div class="alert alert-danger text-center" ng-if="formComment.$invalid">
              <h5 ng-show="formComment.Name.$error.required">Nombre requerido</h5>
              <h5 ng-show="formComment.email.$error.required">Email requerido</h5>
              <h5 ng-show="formComment.email.$error.email">Email invalido</h5>
              <h5 ng-show="formComment.category.$error.required">Categoría requerido</h5>
              <h5 ng-show="formComment.comment.$error.required">Comentario requerido</h5>
            </div>

          </div>
      </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="ok(); saveComment()" ng-disabled="formComment.$invalid">Enviar</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    </div>
  </form>
</div>