<ui-gmap-google-map center="map.center" zoom="map.zoom">

	<ui-gmap-marker coords="marker.coords" idkey="'marker.id'" icon="marker.icon" ng-if="mapReady" ng-init="clickMarker()">
	</ui-gmap-marker>

  <!--<ui-gmap-marker ng-repeat="buspoint in buspoints" coords="buspoint.coords" idKey="'buspoint.id'" icon="buspoint.icon" click="onBusClick(buspoint.id,buspoint.coords)">
  </ui-gmap-marker>-->

  <!--<ui-gmap-window coords='{latitude: stopCoords.latitude, longitude: stopCoords.longitude}' options="windowOptions2" closeClick="closeBusClick()">
        <div>Parada {{buspoint}}</div>
  </ui-gmap-window>-->

	<ui-gmap-polyline clickable="true" ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'>
  </ui-gmap-polyline>

  <ui-gmap-marker ng-repeat="marker in markers" click="onRouteClick()" coords="marker.coords" idkey="'marker.id'">	
		<ui-gmap-window options="windowOptions" closeClick="closeRouteClick()">
            <div>Esta es la ruta {{marker.id}}</div>
    </ui-gmap-window>
  </ui-gmap-marker>

</ui-gmap-google-map>