<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="nav-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a ng-click="home()">
          <img class="navbar-brand logo" ng-src="images/logo.png">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-click="analytics('NavBar', 'WebApp', 'verRutas')">
                <i class="blueFont fa fa-bus fa-lg"></i>
                <span class="blueFont">Seleccionar Ruta</span>
                <!--<span class="caret blueFont"></span>-->
            </a>
            <ul class="dropdown-menu routes_dropdown" role="menu">
                <li id="{{ruta.id}}" class="routes_li" ng-repeat="ruta in rutas">
                    <a ng-click="getRoute('{{ruta.id}}'); analytics('Rutas', 'WebApp', ruta.name); selectedRoute('{{ruta.id}}')">{{ruta.id}}</a>
                </li>
            </ul>
        </li>
        <li>
          <a aria-label="Left Align" role="menu" ng-click="searchModal(); analytics('NavBar', 'WebApp', 'Búsqueda')">
            <i class="blueFont fa fa-search fa-lg"></i>
            <span class="blueFont">Buscar</span>
          </a>
        </li>
        <li>
          <a aria-label="Left Align" role="menu" ng-click="userLocation(); analytics('NavBar', 'WebApp', 'Localización')">
            <!--<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>-->
            <i class="blueFont fa fa-map-marker fa-lg"></i>
            <span class="blueFont">{{messageLocation}}</span>
          </a>
        </li>
        <li>
          <a aria-label="Left Align" ng-click="cleanMap(); analytics('NavBar', 'WebApp', 'Limpiar Mapa')">
            <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
            <i class="blueFont fa fa-times fa-lg"></i>
            <span class="blueFont">Limpiar Mapa</span>
          </a>
        </li>
        <li ng-controller="CommentsCtrl">
          <a aria-label="Left Align" ng-click="doComment(); analytics('NavBar', 'WebApp', 'Comentarios')">
            <span class="blueFont glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="blueFont">Contacto</span>
          </a>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li>
          <!-- Facebook Button -->
          <div id="facebook">
            <div id="fb-root"></div>
            <script>
              (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.4&appId=1603293926600811";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            </script>
            <div
              class="fb-like"
              data-href="https://www.facebook.com/rutagsapp" 
              data-share="true"
              data-width="450"
              data-show-faces="true"
              data-layout="button">
            </div>
          </div>
          <!-- END Facebook Button -->
        </li>
        <li>
          <div id="twiter">
            <!-- Twiter Button -->
            <a href="https://twitter.com/rutagsmx" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large" data-show-screen-name="false">Seguir a @rutagsmx</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <!-- END Twiter Button -->
          </div>
        </li>
      </ul>
      
    </div>
  </div>
</nav>