
    <div class="modal-header">
        <h3 class="modal-title">Califícanos</h3>
    </div>
    <div class="modal-body">
        <h4>Nos importa tu opinión</h4>
        <div ng-hide="isRating">
            
            <h1><rating ng-click="isRating=true;" ng-model="rate.stars" max="max" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating></h1>
            <span ng-class="{'fa fa-frown-o fa-3x': percent<50, 'fa fa-meh-o fa-3x': percent>=50 && percent<81, 'fa fa-smile-o fa-3x': percent>=81}" ng-show="overStar"></span>
        </div>
        <div class="formRate" ng-show="isRating">
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email*</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" name="rate.email" placeholder="Ingresa tu correo electrónico" required ng-model="rate.email">
                </div>
            </div>
            <div class="form-group">
                <label for="rate.comment" class="col-sm-3 control-label">Comentario*</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="3" name="rate.comment" placeholder="Ingresa tu comentario" required ng-model="rate.comment">
                        
                    </textarea><br>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!isRating" ng-click="saveRate()">Enviar Opinión</button>
        <button class="btn btn-warning" ng-click="cancelRate()">Después</button>
    </div>
