<div ng-controller="MainCtrl">
  <div class="modal-header">
      <h4 class="modal-title">Opciones de punto seleccionado</h4>
  </div>

    <div class="modal-body">
      
      <!-- Botones -->
      <button ng-click="okPoint(1); analytics('Búsqueda', 'WebApp', 'Buscar rutas por punto: Rutas que pasan por aquí')" type="button" class="btn btn-primary btn-lg btn-block">Rutas que pasan por aquí</button><br>

      <button ng-click="okPoint(2); analytics('Búsqueda', 'WebApp', 'Buscar rutas por punto: ¿Cómo llegar aquí?')" type="button" class="btn btn-primary btn-lg btn-block">¿Cómo llegar aquí?</button><br>

      <button ng-click="okPoint(3); analytics('Búsqueda', 'WebApp', 'Iniciar trayectoria desde aquí')" type="button" class="btn btn-primary btn-lg btn-block">Iniciar trayectoria desde aquí</button><br>
      <!-- END Botones -->

    <div class="modal-footer">
        <button class="btn btn-danger btn-lg btn-block" ng-click="cancelPoint(); analytics('Búsqueda', 'WebApp', 'Cancelar búsqueda por puntos')">Cancelar</button>
    </div>
</div>