<div ng-controller="MainCtrl">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="cancel()">&times;</span></button>
      <h4 class="modal-title">Busqueda</h4>
  </div>

  <div class="modal-body">
    
    <!-- Menú de opciones de búsqueda -->
    <div class="" ng-if="!routes" ng-show="true">
      <!-- Busqueda de lugares con Google Maps. -->
      <div class="">
        <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
        <center><b>Buscar rutas en un lugar</b><br><br></center>
        <input type="text" id="search" class="form-control" ng-model="resultAutocomplete" ng-autocomplete="resultAutocomplete" details="detailsAutocomplete" options="optionsAutocomplete" ng-focus="disableTap()"/><br>
        <button type="button" class="btn btn-primary btn-lg btn-block" aria-label="Left Align" ng-click="getBestRoutesBySearchBox(detailsAutocomplete); analytics('Búsqueda', 'WebApp', 'Realizar búsqueda por SearchBox')" ng-disabled="!detailsAutocomplete">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
        </button>
        <button type="button" class="btn btn-danger btn-lg btn-block" aria-label="Left Align" ng-click="resultAutocomplete=null; detailsAutocomplete=null; analytics('Búsqueda', 'WebApp', 'Limpiar búsqueda por SearchBox')" ng-disabled="!resultAutocomplete">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Borrar
        </button>
      </div>
      <!-- END Busqueda de lugares con Google Maps. -->

      <!-- Boton para ubicar las rutas cercanas en tú ubicación: -->
      <hr>
      <div class="">
        <center><b>Buscar rutas en tú ubicación</b></center><br>
        <button type="button" class="btn btn-primary btn-lg btn-block" aria-label="Left Align" ng-click="showCloseRoutesToLocation(); analytics('Búsqueda', 'WebApp', 'Buscar rutas en tú ubicación')">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
        </button>
      </div>
      <!-- END Boton para ubicar las rutas cercanas en tú ubicación. -->

      <!-- Boton para ubicar las rutas con puntos en el mapa: -->
      <hr>
      <div class="">
        <center><b>Buscar rutas de punto a punto</b><center><br>
        <button type="button" class="btn btn-primary btn-lg btn-block" aria-label="Left Align" ng-click="ok(); alertRoutesByPoint(); analytics('Búsqueda', 'WebApp', 'Buscar rutas de punto a punto')">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
      </div><br>
      <!-- END Boton para ubicar las rutas con puntos en el mapa. -->
    </div>
    <!-- END Menú de opciones de búsqueda -->

    <!-- Menú de rutas encontradas -->
    <div class="" ng-if="routes" ng-show="true">
      <div class="list-group">
        <button id="{{route}}" class="list-group-item btn-lg btn-block routes_li_search_{{numRoutes}}" type="button" ng-repeat="route in routes" ng-click="ok('{{route}}'); analytics('Rutas buscadas', 'WebApp', '{{route}}')">
            {{route}}
        </button>
      </div>
    </div>
    <div class="" ng-if="numRoutes==0" ng-show="true">
        <center><h3>No se han encontrado resultados</h3></center>
        <br>
    </div>
    <!-- END Menú de rutas encontradas -->

  <div class="modal-footer" ng-if="routes" ng-show="true">
      <button ng-if="buttonAllRoutes" class="btn btn-success btn-lg btn-block" ng-click="ok(); analytics('Búsqueda', 'WebApp', 'Ver todas las rutas encontradas')">
          Ver todas
      </button>
      <button class="btn btn-warning btn-lg btn-block" ng-click="cleanSearch(); analytics('Búsqueda', 'WebApp', 'Nueva búsqueda')">Nueva búsqueda</button>
  </div>
</div>