<div ng-controller="MainCtrl">
  <div class="modal-header">
      <h4 class="modal-title">Opciones de segundo punto</h4>
  </div>

    <div class="modal-body">
      
      <!-- Botones -->
      <button ng-click="okPoint(4)" type="button" class="btn btn-primary btn-lg btn-block">Buscar</button><br>
      <!-- END Botones -->

    <div class="modal-footer">
        <button class="btn btn-danger btn-lg btn-block" ng-click="cancelPoint()">Cancelar</button>
    </div>
</div>